.MuiGridList-root
  flex-wrap: wrap-reverse !important
.nyheter__wrapper
  display: flex
  justify-content: center
  align-items: center
  height: auto
.card
  box-shadow: 0 0 5px #ccc
.nyheter__title
  text-align: center
  font-size: 3rem
  margin: 2rem
  color: $main

.card__caption
  background-color: white
  padding: 20px
  height: 103px
.card__caption-lesmer
  background-color: white
  padding: 0px 20px 20px 0px
  text-align: end

.lesmer-link
  color: $main
  text-decoration: none
  text-align: end
.card__title
  margin-bottom: 10px
  font-size: 1.5rem
  color: $main

  a
    text-transform: capitalize
    text-decoration: none
    font-weight: bold
    color: $main

    &:hover
      border-bottom: dotted 1px #9055a2

.card__description
  color: #000
  font-size: 14px
  line-height: 1.4

@media screen and (max-width: 899px)
  .card__caption
    height: 198px
