@media screen and (max-width: 899px)
  .container__kontakt-oss--content

  //Service boxes
  .container__servicebox
    margin: 0
    text-align: center
    margin-top: 3rem
  .container__servicebox--section
    padding: 0 1rem 1rem 1rem
  .container__section3
    background-image: url("https://www.datocms-assets.com/37833/1606027164-third-section-bg.png")
    background-size: cover
    background-position: center center
    max-width: 100%
    display: flex
    align-items: center
    justify-content: center
    flex-direction: column
    padding: 2rem
  .container__CTABtn
    display: flex
    flex-direction: column
    width: 100%
    align-items: center
  .container__header--left
    background-image: url("https://www.datocms-assets.com/37833/1605798019-header-left-bg-2x.png")
    max-width: 100%
    background-size: 120% 650px
    background-repeat: no-repeat
    align-items: center
    display: flex
    flex-direction: column
    height: 65vh
    padding: 1rem
  .container__header--right
    background: url("https://www.datocms-assets.com/37833/1605866708-18959.svg") no-repeat center center
    background-size: 120% 200px
    width: 100%
    height: 300px

  .container__header
    display: flex
    flex-direction: row

  .container__navbar
    align-items: center
    box-sizing: border-box
    width: 200px
    position: fixed
    top: 0
    right: 0
    bottom: 0
    left: 0
    z-index: 2
    transform: translate3d(-200px, 0, 0)
    transition: transform 0.2s ease-in-out
    padding: 20px
    background-color: $light-body-color

    .container.is-open &
      transform: translate3d(0px, 0, 0)
      display: flex
      align-items: center

  .container__body
    transform: translate3d(0px, 0, 0)
    transition: transform 0.2s ease-in-out

    .container.is-open &
      transform: translate3d(200px, 0, 0)

@media screen and (min-width: 900px)

  .container__employess
    margin-top: 4rem
    display: flex
    padding: 5rem
    height: 700px
    background-size: cover
    background-image: url('https://www.datocms-assets.com/37833/1606029001-fourth-section-bg.png')
  .container__section1
    display: flex
    flex-direction: row
  .container__header--right
    displa: block
    width: 55%
    background-image: url("https://www.datocms-assets.com/37833/1605866708-18959.svg")
    background-size: 100% 700px
    background-position: center center
    background-repeat: no-repeat

  .container__header--left
    width: 45%
    height: 100vh
    display: flex
    padding-left: 5rem
    justify-content: center
    flex-direction: column
    background-image: url("https://www.datocms-assets.com/37833/1605798019-header-left-bg-2x.png")
    background-size: 100% 1000px
    background-position-x: 30% 50%
    background-repeat: no-repeat
  .container__section3
    background-image: url("https://www.datocms-assets.com/37833/1606027164-third-section-bg.png")
    background-size: cover
    background-position: cneter center
    max-width: 100%
    display: flex
    align-items: center
    justify-content: center
    flex-direction: column
    padding: 4rem
  .container
    display: flex
    flex-direction: column
    padding: 0
  .container__mobile-header
    display: none

  .container__navbar
    display: flex
    flex-direction: row
    width: 100%
    min-width: 320px
    box-sizing: border-box
    padding: 25px
    background-color: $light-bg-color
    -webkit-box-shadow: 0px 10px 5px -1px rgba(0,0,0,0.04)
    -moz-box-shadow: 0px 10px 5px -1px rgba(0,0,0,0.04)
    box-shadow: 0px 10px 5px -1px rgba(0,0,0,0.04)

  .container__body
    flex: 1

  .container__body--white
    background-color: white

  .container__CTABtn
    display: flex
    flex-direction: row
    width: 100%

  .container__kontakt-oss
    padding: 0
    margin: 0
  .container__kontakt-oss--form
    background-image: url('https://www.datocms-assets.com/37833/1606030943-kontakt-osss-bg.svg')
    background-size: 100% 80%
    background-position: 50% 110%
    background-repeat: no-repeat
    background-position: center center
    height: 700px
  .container__kontakt-oss--form,  .container__kontakt-oss--content
    width: 50%
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
  .container__servicebox--section,.container__kontakt-oss
    display: flex
    flex-flow: row wrap
    justify-content: center
    align-items: center
  .container__servicebox--section
    padding: 5rem
  .container__kontakt-oss
    padding: 0

  .container__servicebox
    width: 40%
    display: flex
    flex-direction: row
    margin-right: 5rem

    .container__servicebox--icon
      width: 350px
      height: 350px

    .container__servicebox--content
      max-width: 100%
      margin-left: 15px
    .container__footer
      display: flex
      flex-direction: row
      width: 100%
    .container__footer--list
      display: flex
    .container__footer--item
      width: 20%
    .container__employess__List
      background-color: "#fff"
