@media screen and (max-width: 899px)
  //RegisterCV
  .container__registerCV
    height: auto
    max-width: 100%
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    background-image: url('https://www.datocms-assets.com/37833/1606722782-bgspring2016.jpg')
    background-size: cover
    background-position: center center
  .container__regiser_cv_form
    max-width: 100%
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    margin: 1rem
    padding-bottom: 1rem
    background-color: rgba( 255,255,255,.8 )
  .container__input__fields,.container__input__fields--down
    max-width: 80%

  //Footer
  .container__footer
    display: flex
    flex-direction: column
    max-width: 100%
    justify-content: center
    padding: 2rem
    align-items: center
  .container__footer__list
    display: flex
    flex-direction: column
    justify-content: center
    align-content: center
    margin-top: 2rem
  .container__footer--item
    max-width: 100%
    margin-top: 2rem
  //QUestion
  .container__question--wrapper
    img
      height: 144px
      margin-bottom: 15px
  .container__question
    display: flex
    flex-direction: column
    justify-content: space-evenly
    align-items: center
    max-width: 100%
    marin: 0
    padding: 2rem
    background: url('https://www.datocms-assets.com/37833/1606211895-question-section-bg-2x.png')
  .container__question--content
    p
      color: #ffff
      text-align: center
      margin-bottom: 20px
    h2
      color: #ffff
      font-weight: 700
      font-size: 2rem
      text-align: center

  .container__question--form
    text-align: center
    width: 100%
    a
      color: white
      text-decoration: none
      font-size: 1.2rem
    p
      margin-top: 2rem
      text-align: center

  .container__question--wrapper
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column

  ///WHY us
  .container__why-us--image
    width: 100%
    order: 2
  .container__why-us--content
    max-width: 100%
    order: 1
    background-color: #F2EEE1
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    padding: 2rem

    p
      margin-top: 15px
      line-height: 2rem
      text-align: center
  .container__why-us
    margin: 2rem 0 0 0
    display: flex
    flex-direction: column

  //Service boxes
  .container__servicebox
    margin: 0
    text-align: center
    margin-top: 3rem
  .container__servicebox--section
    padding: 0 1rem 1rem 1rem

  .container__CTABtn
    display: flex
    flex-direction: column
    width: 100%
    align-items: center

  .container__header--right
    display: none

  .container__body
    transform: translate3d(0px, 0, 0)
    transition: transform 0.2s ease-in-out

    .container.is-open &
      transform: translate3d(200px, 0, 0)

@media screen and (min-width: 900px)

  .container
    display: flex
    flex-direction: column
    padding: 0

  .container__mobile-header
    display: none

  .container__body
    flex: 1

  .container__body--white
    background-color: white

  .container__CTABtn
    display: flex
    flex-direction: row
    width: 100%

  .container__servicebox--section
    display: flex
    flex-flow: row wrap
    justify-content: center
    align-items: center
  .container__servicebox--section
    padding: 5rem

  .container__servicebox
    width: 40%
    display: flex
    flex-direction: row
    margin-right: 5rem

  .container__servicebox--icon
    width: 350px
    height: 350px

  .container__servicebox--content
    max-width: 100%
    margin-left: 15px
  .container__footer
    display: flex
    flex-direction: column
    max-width: 100%
    justify-content: center
    align-items: center
    padding: 2rem
  .container__footer__list
    display: flex
    flex-direction: row
    justify-content: center
    align-content: center
    margin-top: 2rem
  .container__footer--item
    width: 20%
    margin-right: 4rem
  .container__why-us
    margin: 5rem 0 5rem 0rem
    display: flex
    flex-direction: row
  .container__why-us--content
    width: 50%
    background-color: #F2EEE1
    padding: 4rem
    display: flex
    flex-direction: column
    justify-content: center
    align-items: flex-start
    p
      margin-top: 15px
      line-height: 2rem

  .container__why-us--image
    width: 50%
    img
      width: 100%
  .container__question
    display: flex
    flex-direction: row
    justify-content: space-evenly
    align-items: center
    max-width: 100%
    marin: 0
    padding: 2rem
    background: url('https://www.datocms-assets.com/37833/1606211895-question-section-bg-2x.png')
  .container__question--content
    p
      color: #ffff
    h2
      color: #ffff
      font-size: 3rem

  .container__question--form
    text-align: center
    width: 30%
    a
      color: white
      text-decoration: none
      font-size: 1.2rem
    p
      margin-top: 2rem
      text-align: center

  .container__question--wrapper
    display: flex
    justify-content: center
    align-items: center
  .container__callback
    height: 100vh
    width: 100
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    h1
      font-weight: 600
      margin: 2rem
  .container__registerCV
    height: auto
    padding: 5rem
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    background-image: url('https://www.datocms-assets.com/37833/1606722782-bgspring2016.jpg')
    background-size: cover
    background-position: center center
  .container__regiser_cv_form
    width: 40%
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    background-color: rgba( 255,255,255,.8 )
    padding: 5rem
  .container__input__fields
    width: 100%
  .container__input__fields--down
    width: 80%
    margin-top: 2rem

@media screen and (min-width: 1205px)
  .header__title
    font-size: 1rem
