@media screen and (max-width: 899px)
  .container__CTABtn
    display: flex
    flex-direction: column
    width: 100%
    align-items: center
  .container__header--left
    background-image: url("https://www.datocms-assets.com/37833/1605798019-header-left-bg-2x.png")
    max-width: 100%
    background-size: 100% 650px
    background-repeat: no-repeat
    align-items: center
    display: flex
    flex-direction: column
    height: 100vh
    padding: 1rem
  .container__header--right
    background-image: url("https://www.datocms-assets.com/37833/1605798019-header-left-bg-2x.png")

  .container__header
    display: flex
    flex-direction: row

  .container__navbar
    align-items: center
    box-sizing: border-box
    width: 200px
    position: fixed
    top: 0
    right: 0
    bottom: 0
    left: 0
    z-index: 2
    transform: translate3d(-200px, 0, 0)
    transition: transform 0.2s ease-in-out
    padding: 20px
    background-color: $light-body-color

    .container.is-open &
      transform: translate3d(0px, 0, 0)
      display: flex
      align-items: center

  .container__body
    transform: translate3d(0px, 0, 0)
    transition: transform 0.2s ease-in-out

    .container.is-open &
      transform: translate3d(200px, 0, 0)

@media screen and (min-width: 900px)
  .container__section1
    display: flex
    flex-direction: row
  .container__header--right
    displa: block
    width: 55%
    background-image: url("https://www.datocms-assets.com/37833/1605863915-18959.png")
    background-size: 100% 700px
    background-position: center center
    background-repeat: no-repeat

  .container__header--left
    width: 45%
    height: 100vh
    display: flex
    padding-left: 5rem
    justify-content: center
    flex-direction: column
    background-image: url("https://www.datocms-assets.com/37833/1605798019-header-left-bg-2x.png")
    background-size: 100% 1000px
    background-position-x: 30% 50%
    background-repeat: no-repeat

  .container
    display: flex
    flex-direction: column
    padding: 0
  .container__mobile-header
    display: none

  .container__navbar
    display: flex
    flex-direction: row
    width: 100%
    min-width: 320px
    box-sizing: border-box
    padding: 25px
    background-color: $light-bg-color
    -webkit-box-shadow: 0px 10px 5px -1px rgba(0,0,0,0.04)
    -moz-box-shadow: 0px 10px 5px -1px rgba(0,0,0,0.04)
    box-shadow: 0px 10px 5px -1px rgba(0,0,0,0.04)

  .container__body
    flex: 1

  .container__body--white
    background-color: white

  .container__CTABtn
    display: flex
    flex-direction: row
    width: 100%
