.header__CTABtn
  background-color: #ffffff
  padding: 15px 30px 15px 30px
  color: $main
  text-decoration: none
  margin-top: 20px
  display: block
  width: 30%
  border-radius: 30px
  text-align: center
  margin-right: 15px

.header__title
  color: #fff
  font-size: 5rem
  font-weight: 900
  width: 80%
.header__content
  font-size: 1.2rem
  width: 80%
  color: #fff

@media screen and (max-width: 899px)
  .header__content,.header__title,.header__CTABtn
    width: 100%
    text-align: center
  .header__content
    font-size: 1rem
  .header__title
    font-size: 3rem
    padding-top: 2rem
  .header__CTABtn
    width: 50%
