.navbar
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: center
  width: 100%
  padding: 0 5rem
.navbar__logo
  &:hover
    transform: scale(1.1)

.navbar__intro
  color: $light-body-color
  font-size: 14px
  margin-bottom: 20px

  p
    margin-bottom: 10px

    &:last-child
      margin-bottom: 0
.navbar__konakt-btn
  background-color: $main
  padding: 10px 20px 10px 20px
  border-radius: 25px
  color: #ffffff !important
  margin-left: 20px
  text-align: center

.navbar__menu
  margin-bottom: 20px
  display: flex
  flex-direction: row
  justify-content: baseline
  margin: 0

  li
    display: flex
    align-items: center
    cursor: pointer
    a
      text-decoration: none
      padding-left: 20px
      color: $main
      display: flex

      &:hover
        color: $active-color

    &.is-active a
      font-weight: bold
      color: $active-color

.navbar__social
  margin-bottom: 20px

.navbar__copyright
  color: $light-body-color
  font-size: 13px

.container__navbar
  display: flex
  flex-direction: row

  box-sizing: border-box
  padding: 25px
  background-color: $light-bg-color
  -webkit-box-shadow: 0px 10px 5px -1px rgba(0,0,0,0.04)
  -moz-box-shadow: 0px 10px 5px -1px rgba(0,0,0,0.04)
  box-shadow: 0px 10px 5px -1px rgba(0,0,0,0.04)

@media screen and (min-width: 900px) and (max-width: 1208px)
  .navbar__logo
    width: 35%
  .navbar
    padding: 0 1rem

@media screen and (max-width: 899px)
  .navbar
    padding: 0 0
    justify-content: start
  .navbar__menu,.navbar
    flex-direction: column
    display: flex !important
  .navbar__konakt-btn
    margin: 10px 0 0 0
  .navbar__menu
    a,li
      text-align: center
      margin-top: 20px
      font-size: 18px
  .navbar__logo
    display: none

  .container__navbar
    box-sizing: border-box
    position: fixed
    width: 200px
    top: 0
    right: 0
    bottom: 0
    left: 0
    z-index: 2
    transform: translate3d(-200px, 0, 0)
    transition: transform 0.2s ease-in-out
    padding: 20px
    background-color: $light-body-color

    .container.is-open &
      transform: translate3d(0px, 0, 0)
