.container__servicebox--section
  display: grid
  grid-template-columns: repeat(2, 550px)
  align-items: center
  gap: 5rem
  justify-content: center
.container__servicebox--content
  width: 100%
  text-align: center
.container__servicebox-1,.container__servicebox-2,.container__servicebox-3,.container__servicebox-4
  display: flex
  flex-direction: column
  align-items: center
  justify-content: flex-end
  width: 100%
  text-align: center
  img
    height: 95px
    width: 95px

.servicebox__content--title
  font-size: 36px
  padding: 0
  margin: 0
  color: $main
.servicebox__content--para
  color: #605050
  width: 100%
  text-align: center

.servicebox__content--link
  margin-top: 2rem
  text-decoration: underline
  color: $main
.container__servicebox
  width: 50%
.servicebox__image--wrapper
  display: flex
  justify-content: center
  align-items: center
@media screen and (max-width: 899px)
  .container__servicebox--content
    width: 100%
  .container__servicebox--section
    margin: 2rem
    grid-template-columns: repeat(1, 1fr)
  .servicebox__content--title,.servicebox__content--para
    text-align: center
  .servicebox__content--title
    margin-top: 2rem
    font-size: 26px
  .servicebox__content--para
    font-size: 14px
    color: #605050
    margin-top: 3rem
  .servicebox__icon
    width: 150px
    height: 150px
  .servicebox__content--para
    color: #605050
    margin-top: 0
