.container__section3
  background-image: url("https://www.datocms-assets.com/37833/1606027164-third-section-bg.png")
  background-size: cover
  background-position: cneter center
  max-width: 100%
  min-height: 200px
  display: flex
  align-items: center
  justify-content: center
  flex-direction: column
  padding: 4rem
  h2
    text-decoration: none
.section3__title,.section3__para
  color: white
  margin-bottom: 10px
.section3__title
  font-size: 3rem
.section3__para
  font-size: 1rem
  text-transform: uppercase
.section3__search
  width: 35%
.se-vare-link
  text-decoration: none

@media screen and (max-width: 899px)
  .section3__title,.section3__para
    color: white
    margin-bottom: 10px
    text-align: center
  .section3__title
    font-size: 2rem
  .section3__para
    font-size: .8rem
  .section3__search
    width: 100%
  .container__section3
    background-image: url("https://www.datocms-assets.com/37833/1606027164-third-section-bg.png")
    background-size: cover
    background-position: center center
    max-width: 100%
    min-height: 200px
    display: flex
    align-items: center
    justify-content: center
    flex-direction: column
    padding: 2rem
