.container__list--wrapper
  width: 30%
  padding: 4rem
  display: flex
  flex-direction: column
  background-color: #fff
  margin: 2rem
  border-radius: 20px
  justify-content: center
  align-items: center
.employess__title
  font-size: 2rem
  color: $main
  text-align: center
.employess__CTABtn
  background-color: $main
  padding: 15px 30px 15px 30px
  color: #fff
  text-decoration: none
  margin-top: 20px
  display: block
  width: 30%
  border-radius: 30px
  text-align: center
  margin-right: 15px
.container__employess__List
  display: flex
  margin: 3rem 0rem
  flex-direction: column
  justify-content: center
  align-items: center
.container__employess
  margin-top: 4rem
  display: flex
  justify-content: center
  align-items: center
  padding: 5rem
  height: 700px
  background-size: cover
  background-image: url('https://www.datocms-assets.com/37833/1606029001-fourth-section-bg.png')
.listItem__link
  width: 100%
  color: inherit
  text-decoration: none
@media screen and (max-width: 899px)
  .container__list--wrapper
    margin: 1rem
    width: 60%
  .employess__CTABtn
    width: 80%
    margin-right: 0

  .container__employess
    max-width: 100%
    height: auto
    flex-direction: column
    padding: 2rem
