.employess__title
  font-size: 2rem
  color: $main
.container__employessItem
  margin-top: 3rem
  display: flex
  flex-direction: row
  background-image: url('https://www.datocms-assets.com/37833/1606029648-icon-awesome-check-circle.svg')
  background-position: left center
  background-size: contain
  background-repeat: no-repeat
  padding-left: 2rem
.employess__CTABtn
  background-color: $main
  padding: 15px 30px 15px 30px
  color: #fff
  text-decoration: none
  margin-top: 20px
  display: block
  width: 30%
  border-radius: 30px
  text-align: center
  margin-right: 15px
@media screen and (max-width: 899px)
  .container__employessItem
    max-width: 100%
    font-size: 1rem
    display: flex
    flex-direction: column
    background-position: center 30
    background-repeat: no-repeat
    padding-left: 0
    background-image: url('https://www.datocms-assets.com/37833/1606029648-icon-awesome-check-circle.svg')
    background-position: center 10%
    background-size: contain
    background-repeat: no-repeat
  .employess__CTABtn
    width: 50%
