.kontakt-oss__title
  font-size: 3rem
  color: $main
  font-weight: 600
.container__kontakt-oss
  display: flex
.container__kontakt-oss--content
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column
  max-width: 50%
  padding: 5rem
.kontakt-oss__list
  margin-top: 2rem
.kontakt-oss__list--item
  display: flex
  a
    color: #605050
    text-decoration: none
