.wrapper__ledige
  display: flex
  justify-content: center
  align-content:
.container__ledige-stillinger
  display: flex
  flex-direction: row
  max-width: 1390px
.container__ledige-filters
  width: 30%
  height: 250px
  margin: 2rem
.container__ledige-list
  width: 60%
