.service_page__container
  min-height: 550px
  max-width: 100%
  overflow: hidden
  display: flex

.service_page__content--wraper
  justify-content: center
  display: flex
  flex-direction: column
  padding: 2rem
  background-color: #F2EEE1
  margin: 10rem 10rem 10rem -15rem
  padding: 5rem
.service_page__title
  font-size: 60px
  font-weight: 600
  color: #A08629
